.starIcon {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.active {
  color: orange;
}

.jobWrapper {
  position: relative;
  margin: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 10px;
  box-shadow: 3px 3px 5px 3px #ccc;
}

.jobWrapper ~ .jobWrapper {
  margin-top: 20px;
}
