.filterWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filterButton {
  border: none;
  background-color: #2525af;
  color: white;
  padding: 8px 10px;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0.6;
  cursor: pointer;
  box-shadow: 3px 3px 5px #7c7cd1;
}

.filterButton:hover {
  opacity: 0.8;
}

.active {
  opacity: 1;
}
